html {
  scroll-behavior: smooth;
}




body {

    background:#03001C;
    font-family: 'Roboto Condensed', sans-serif;

  
  }
  
  ul {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    display:flex;
    margin:0;
    padding:0;
    margin-top: 20px;
  }
  
  ul li {
    list-style:none;
    margin:0 5px;
  }
  
  ul li a .fa {
    font-size: 40px;
    color: #262626;
    line-height:80px;
    transition: .5s;
    padding-right: 14px;
  }
  
  ul li a span {
    padding:0;
    margin:0;
    position:absolute;
    top: 30px;
    color: #262626;
    letter-spacing: 4px;
    transition: .5s;
  }
  
  ul li a {
    text-decoration: none;
    display:absolute;
    display:block;
    width:210px;
    height:80px;
    background: #fff;
    text-align:left;
    padding-left: 20px;
    transform: rotate(-30deg) skew(25deg) translate(0,0);
    transition:.5s;
    box-shadow: -20px 20px 10px rgba(0,0,0,.5);
  }
  ul li a:before {
    content: '';
    position: absolute;
    top:10px;
    left:-20px;
    height:100%;
    width:20px;
    background: #b1b1b1;
    transform: .5s;
    transform: rotate(0deg) skewY(-45deg);
  }
  ul li a:after {
    content: '';
    position: absolute;
    bottom:-20px;
    left:-10px;
    height:20px;
    width:100%;
    background: #b1b1b1;
    transform: .5s;
    transform: rotate(0deg) skewX(-45deg);
  }
  
  ul li a:hover {
    transform: rotate(-30deg) skew(25deg) translate(20px,-15px);
    box-shadow: -50px 50px 50px rgba(0,0,0,.5);
  }
  
  ul li:hover .fa {
    color:#fff;
  }
  
  ul li:hover span {
    color:#fff;
  }
  
  ul li:hover:nth-child(1) a{
    background: #3b5998;
  }
  ul li:hover:nth-child(1) a:before{
    background: #365492;
  }
  ul li:hover:nth-child(1) a:after{
    background: #4a69ad;
  }
  
  ul li:hover:nth-child(2) a{
    background: #00aced;
  }
  ul li:hover:nth-child(2) a:before{
    background: #097aa5;
  }
  ul li:hover:nth-child(2) a:after{
    background: #53b9e0;
  }
  
  ul li:hover:nth-child(3) a{
    background: #dd39dd;
  }
  ul li:hover:nth-child(3) a:before{
    background: #dd39dd;
  }
  ul li:hover:nth-child(3) a:after{
    background: #dd39dd;
  }
  
  ul li:hover:nth-child(4) a{
    background: #293edf;
  }
  ul li:hover:nth-child(4) a:before{
    background: #293edf;
  }
  ul li:hover:nth-child(4) a:after{
    background: #293edf;
  }

 

@keyframes nav {
    0%{
        scale: 0;
    }

    100%{
        scale: 100%;
    }
}




#navbar>a{
  text-decoration: none;
  color: #B6EADA;
}


#navbar{

    position: sticky;
    background-color: rgb(91, 143, 185,0.5);
    width: 100%;
    display: flex;
    height: 100px;
    justify-content: center;
    gap: 	100px;
    align-items: center;

    font-size: larger;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 30px;
    top: 0;
    margin: 0;
    z-index: 1000;
}



#welcome-section{
   
    background-color: #301E67;
    aspect-ratio: 19/6;
    width: 100%;
    height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
   
    justify-content:center;

    margin-top: 5%;
    padding-top:100px ;
    padding-bottom: 0;
    border-radius: 30px;
    position: relative;
  
}

@keyframes photo {
    0%{
        scale: 0.5;
    }

    100%{
        scale: 100%;
    }
}
.personal-photo>img{
    animation-name: photo;
    animation-duration: 1s;
    animation-delay: 0;
    width: 300px;
    height: 300px;
    border: 5px solid rgb(170, 165, 165);
    border-radius: 50%;
    transition:.5s ;
    margin-left: 20%;

 
   
}


.personal-photo>img:hover{
  transform:   translate(20px,-15px, 10px);
  box-shadow: -50px 50px 50px rgba(0,0,0,.5);
  background-color: none;

}
.me{
  position:relative;
  width: 100%;

  transition: .5s;

}


.me>p{
  margin-top: 0;
  color: #B6EADA;
}

  

@keyframes float2 {
    0%{
        scale: 1.05;
    }
    100%{
        scale: 1.05;
    }
}

#projects{
    width: 100%;
    height: 1000px;
    background-color: #5B8FB9;
    margin-top: 1%;
    border-radius: 30px;
    display: flex;
    border: 3px solid black;

    align-items: center;
    justify-content: space-around;

}

.p{
    position: relative;
    top: 0%;
    width: 30%;
    height: 70%; 
    border-radius: 10px; 
    background-color:#301E67 ;
    border: 5px solid black;
    transform: .5s;
    transition: .5s;
    box-shadow: -10px -10px 16px #000000;
}
.p:hover{
    transform:   translate(2px);
    box-shadow: -50px 50px 50px rgba(0,0,0,.5);

}

.p.one{
 
    display: block;
    text-align: center;
 
}
.p>img{
    margin-top:70px ;
    position: relative;
    width: 90%;
    height: 70%;
    aspect-ratio: 3/4;
    padding-top: 10%;
    border-radius:10px 10px 10px 10px;
    background-size: cover;
    padding: 0;
    border: 3px solid black;
    box-shadow: 1px 1px 1px 1px;
}
.p>header{
    margin-top:10px ;
    font-size: 1.6rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}

.p.two{

    display: block;
    text-align: center;

}
.p.three{

    display: block;
    text-align: center;

}

#connection{
    box-sizing: border-box;
    position: relative;
    width: 100%;
    height: 400px;
    display: block;
    margin-top: 1%;
    border-radius: 30px;


    text-align: center;
    padding-top: 1%;
}
#connection>h1{
    font-size: 2.5rem;
    color: #301E67;
    border-top: 3px solid white;
    border-bottom: 3px solid white;
    box-sizing: border-box;
    margin-left: 1%;
    margin-right: 1%;
}
.social_media{
    display: flex;
    width: 100%;
    height: 70px;
    justify-content: space-evenly;
}


.divider{
  height: 3px;
  width: 98%;
  margin-left:auto ;
  margin-right: auto;
  background-color: whitesmoke;
  margin-top: 150px;
}




@media screen and (max-width:1000px) {
    #connection{
        height: 1000px;
    }
    ul {
        position:absolute;
        top:40%;
        left:50%;
        transform:translate(-50%, -50%);
        display:block;
        margin:0;
        padding:0;
        margin-top: 60px;
        
    }
    ul li {
        list-style:none;
        margin:0 5px;
        margin-top:50px ;
    }
    
    .divider{
      margin-top: 660px;
    }
    
}

@media screen and (max-width:765px) {
  #projects{
    display: block;
    height: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    
  }
  .p{
    margin-left: auto;
    margin-right:auto ;
    width: 70%;
    margin-top: 5px;
  }
}






.me>h1 {
  --s: 0.1em;   /* the thickness of the line */
  --c: #B6EADA; /* the color */
  
  color: #0000;
  padding-bottom: var(--s);
  background: 
    linear-gradient(90deg,var(--c) 50%,#000 0) calc(100% - var(--_p,0%))/200% 100%,
    linear-gradient(var(--c) 0 0) 0% 100%/var(--_p,0%) var(--s) no-repeat;
  -webkit-background-clip: text,padding-box;
          background-clip: text,padding-box;
  transition: 0.5s;
  margin-bottom: 0;
}


.personal-photo:hover{--_p: 100%}

.me>h1 {
  font-family: system-ui, sans-serif;
  font-size: 5rem;
  cursor: pointer;
  width: 100%;
}




